django
Django>=5.0
gunicorn>=21.0
python-dotenv
django-sslserver
scikit-learn==1.4.2
matplotlib
tensorflow==2.16.1
keras==3.3.3
nltk
opencv-python==4.10.0.84
numpy==1.26.4
# Decision Tree Dependencies
djangorestframework==3.14.0
django-cors-headers==4.2.0
pandas==2.0.3
joblib==1.5.1
scipy
seaborn
wordfreq
whitenoise>=6.0.0
dj-database-url
psycopg2-binary
